<div class="ui centered card">
    <div class="image">
      <img *ngIf="movies.poster_path" src="https://image.tmdb.org/t/p/w500/{{movies.poster_path}}">
    </div>
    <div class="content">
      <a class="header">{{ movies.title | uppercase }}</a>
      <div class="meta">
        <span class="date">{{ movies.release_date | date: 'dd/MM/yy'}}</span>
      </div>
      <div class="description">
        {{ movies.overview }}
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="user icon"></i>
        {{ movies.vote_average }} %
      </a>
    </div>
  </div>