
<div class="ui divider"></div>
<h2>Liste des films les plus populaires</h2>

<simple-notifications [options]=""></simple-notifications>
<form action="" class="ui form" [class.red]="formError">
    <div class="ui icon">
     
    <input  (input)="search(inputSearch)" type="search" #inputSearch class="red" >
   
    </div>
  
</form>

<div class="ui divider"></div>

<app-movie-display [moviesInput]="movies" [input1] ="'fruits'" [input2] ="'légumes'"></app-movie-display>

