<!--The content below is only a placeholder and can be replaced.-->

<header class="ui menu inverted">
  <div class="header item">The movie Database</div>
  <a href="#" class="item">Acceuil</a>
</header>

<section class="ui container">
 <h1>
    Bienvenue dans The Movie Database
  </h1>
</section>


<router-outlet></router-outlet>




