<div class="ui grid">

    <div *ngFor="let movie of moviesInput" class="four wide column">
  
      <div class="ui card">
        <div class="image">        
          <img *ngIf="movie.poster_path" title="{{movie.overview}}" src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}}">
        </div>
        <div class="content">
          <a [routerLink]="['/movie-detail',movie.id]" class="header">{{movie.title}}</a>
        </div>
        <div class="content">
          Sortie le : {{ movie.release_date | date :'dd-MM-yyyy'}}
        </div>
      </div>
  
    </div>